@use "./variables" as gb;
@use "sass:map";

// メディアクエリー
@mixin mq($bp: pcu) {
  @media #{map.get(gb.$breakpoints, $bp)} {
    @content;
  }
}

// hover
@mixin hover{
  @media (hover:hover){
    &:hover{
      @content;
    }
  }
}

// 重なり順
@mixin z($zi) {
  z-index: #{map.get(gb.$layer, $zi)};
}

// font一括指定
@mixin font($font_size, $font_weight, $line_height: 1em, $letter_spacing: 0) {
	font-size: $font_size;
	font-weight: $font_weight;
	line-height: $line_height;
	letter-spacing: $letter_spacing;
}