// 変数
// 色
$c-base: #111;
$c-main: #222;
$c-accent: #333;
$c-primary: #444;
$c-text: #333;
$c-text-black: #000;
$c-text-white: #fff;
$c-text-gray: #999;
$c-bg-black: #000;
$c-bg-white: #fff;
$c-bg-gray: #999;

// フォント
$ff-base: "Noto Sans JP", "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif; // 日本語標準
$ff-en: "Noto Sans JP", sans-serif; // 英語標準
$ff-sub01: "Noto Sans JP", sans-serif;
$ff-sub02: "Noto Sans JP", sans-serif;
$fz-base: 16px; // ベースフォントサイズ
$fw-base: 400; // ベースフォントウェイト
$lh-base: 1.6; // ベース行間

// ヘッダー高さ
$header-height: 80px;
$header-height-sp: 60px;

// レイアウト幅
$layout-width-canvas: 1440px; // キャンバス幅サイズ
$layout-width-inner: 1200px; // インナー幅サイズ

// レイアウト
$xs-width: 425px; // xsサイズ
$sm-width: 576px; // smサイズ
$sp-width: 768px; // SPサイズ
$pc-width: 900px; // PCサイズ
$lg-width: 1200px; // lgサイズ
$xl-width: 1440px; // xlサイズ

// ブレークポイント
$breakpoints: (
  // max-width 以下
  "xsu": "screen and (max-width: #{($xs-width - 1px)})",
  "smu": "screen and (max-width: #{($sm-width - 1px)})",
  "spu": "screen and (max-width: #{($sp-width - 1px)})",
  "pcu": "screen and (max-width: #{($tb-width - 1px)})",
  "lgu": "screen and (max-width: #{($tb-width - 1px)})",
  "xlu": "screen and (max-width: #{($tb-width - 1px)})",
  // min-width 以上
  "xso": "screen and (min-width: #{$xs-width})",
  "smo": "screen and (min-width: #{$sm-width})",
  "spo": "screen and (min-width: #{$sp-width})",
  "pco": "screen and (min-width: #{$tb-width})",
  "lgo": "screen and (min-width: #{$tb-width})",
  "xlo": "screen and (min-width: #{$tb-width})",
);

// 重なり順の定義
$layer: (
  // ローディング
  "loading": 300,
  // モーダル
  "modal": 100,
  // ドロワー
  "drawer": 40,
  // フローティング
  "floating": 30,
  // ヘッダー
  "header": 20,
  // フッター
  "footer": 10,
  // デフォルト
  "default": 1
);

// ホバー時のtransitionの秒数
$hover-transition: 0.3s;

// ホバー時のopacityに使用する値
$opacity-07: 0.7;