@use "../global" as global;

.l-footer {
	width: 100%;
	background: #fff;
  @include global.z(footer);
}

.l-footer__inner {
  max-width: global.$layout-width-inner;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

