@use "../global" as gb;

.l-footer {
  width: 100%;
  background: gb.$c-bg-white;
  @include gb.z(footer);
}

.l-footer__inner {
  max-width: gb.$layout-width-inner;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
