@use "../global" as gb;

.l-header {
  width: 100%;
  background: gb.$c-bg-white;
  position: relative;
  top: 0;
  left: 0;
  height: gb.$header-height;
  @include gb.z(header);

  @include gb.mq() {
    height: gb.$header-height-sp;
  }
}

.l-header__inner {
  height: inherit;
  max-width: gb.$layout-width-inner;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
