@use "../global" as global;

.l-main {
  margin-top: global.$header-height;

  @include global.mq("spu") {
    margin-top: global.$header-height-sp;
  }
}

.l-inner {
  max-width: global.$layout-width-inner;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.p-top__mv {

}

.p-top__mv-container {

}

.p-top__mv-inner {

}

