@use "../global" as gb;

.l-main {
  margin-top: gb.$header-height;

  @include gb.mq() {
    margin-top: gb.$header-height-sp;
  }
}

.l-inner {
  max-width: gb.$layout-width-inner;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.p-top__mv {
}

.p-top__mv-container {
}

.p-top__mv-inner {
}
