@use "../global" as global;

// mv
// ====================================================

.p-top__mv {
  padding-top: 100px;

  @include global.mq(spu) {
    padding-top: 40px;
  }
}

.p-top__mv-container {

}

.p-top__mv-inner {
  max-width: global.$layout-width-inner;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}