@use "../global" as global;

// mv
// ====================================================

.p-top__mv {
  margin-top: 160px;

  @include global.mq("spu") {
    margin-top: 90px;
  }
}

.p-top__mv-content {

}

.p-top__mv-inner {
  max-width: global.$layout-width-inner;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;

  @include global.mq("spu") {
    padding: 0 20px;
  }
}

