@use "../global" as gb;

// mv
// ====================================================

.p-top__mv {
  padding-top: 100px;

  @include gb.mq() {
    padding-top: 40px;
  }
}

.p-top__mv-container {
}

.p-top__mv-inner {
  max-width: gb.$layout-width-inner;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
